body {
    background-color: burlywood;
    color: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 50px auto;
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}